<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ABOUT</h1>
    <div class="row">
    	<p>
    		AQUI DEBERIA IR UN LOREM PERO NO LO HE INSTALADO
    	</p>
    </div>
    <a href="/" class="btn btn-primary btn-lg">Volver</a>
  </div>
</div>