<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Notas - App</h1>
    <p class="lead">Pequeña aplicación con la que podrás probar como se crea un CRUD a la vez que puedes crear notas recordatorias (Post-It)</p>
    <p>Aplicación creada haciendo uso de Node.js Express.js MongoDB (Mogoose) y el manejador de template Handlebars. (Curso impartido por: <a href="https://www.youtube.com/watch?v=-bI0diefasA">Fazt Code</a> con algunos cambios y mejoras debido a la actualizacion de mongoDB a 4.4.2 y Node,js a 14.15.1)</p>
    <p>Subido a <a href="https://gitlab.com/devdoblea/mi-mongo-node-app">gitlab</a> por <a href="https://elcuartodeangel.wordpress.com">Angel Emiro Antunez Villasmil</a> - (Venezuela)
    <div class="row">
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Nueva Nota</h5>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="/notes" class="btn btn-primary btn-lg">Ver Notas</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">About Us</h5>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="/about" class="btn btn-primary btn-lg">About Us</a>
		      </div>
		    </div>
		  </div>
		</div>
  </div>
</div>