{{!-- /*
* Para que funcione debe haber una variable global que
* transfiera los mensajes desde el controlador principal
* tambien debe haberse declarado el sitio donde deba ser
* mostrado el mensaje. Frecuentemente en el cuerpo del html
* encima del {{ body }} que maneja handlebars
*/ --}}
{{#if success_msg}}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ success_msg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
{{#if error_msg}}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ error_msg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}