{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error</strong> {{ text }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}
<div class="col-4 mx-auto">
  <div class="card">
    <div class="card-header alert alert-primary">
      <h5 class="card-title">Editar Nota</h5>
    </div>
    <div class="card-body">
      <form action="/notes/edit-post/{{ nota._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <input type="text" id="titulo" name="titulo" class="form-control" placeholder="titulo" autofocus="on" value="{{ nota.titulo }}">
        </div>
        <div class="form-group">
          <textarea name="textnota" id="textnota" rows="3" class="form-control" placeholder="Descripcion">{{ nota.textnota }}</textarea>
        </div>
        <a href="/notes" class="btn btn-secondary">Volver</a>
        <button type="submit" class="btn btn-primary">Grabar</button>
      </form>
    </div>
  </div>
</div>