<div class="row pt-4">
  {{#each notes}}
    <div class="col-sm-4 mt-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-item-center" style="height: 4vh;">
            {{ titulo }}
            <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
          </h4>
          <p class="card-text pt-2" style="height: 10vh;">{{ textnota }}</p>
          <form action="/notes/del-post/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-lg btn-block">Borrar Nota</button>
          </form>
        </div>
      </div>
    </div>
  {{else}}
      <div class="col-sm-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="height: 4vh;">
              No Hay Notas Registradas aún.
            </h5>
            <a href="/notes/add" class="btn btn-success btn-lg btn-block">Crear Nota</a>
          </div>
        </div>
      </div>
  {{/each}}
</div>