{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error</strong> {{ text }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}
<div class="col-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Nueva Nota</h5>
    </div>
    <div class="card-body">
      <form action="/notes/new-post" method="POST">
        <div class="form-group">
          <input type="text" id="titulo" name="titulo" class="form-control" placeholder="titulo" autofocus="on">
        </div>
        <div class="form-group">
          <textarea name="textnota" id="textnota" rows="3" class="form-control" placeholder="Descripcion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Grabar</button>
      </form>
    </div>
  </div>
</div>