<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Note-APP</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Prueba de app con MongoDB - ExpressJs - HandleBars y NodeJs">
  <meta name="author" content="Angel Emiro Antunez Villasmil @Devdoblea">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
  <!-- bootstrap 4 -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"  crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Font-Awesome -->
  <link href="/assets/libs/font-awesome/css/all.min.css" rel="stylesheet">
  <!-- Estilos propios de la pagina -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body class="{{template}}">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/notes">Notas-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{!-- <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notes">Notas</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="/users">Usuarios</a>
        </li>
      </ul>
      <!-- ============================================================== -->
      <!-- Right side toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav float-right">
        <!-- ============================================================== -->
        <!-- NOmbre del Usuario -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown p-3">
          <span class="pt-2">Hola {{split user.username }}</span>
        </li>
        <!-- ============================================================== -->
        <!-- End Nombre del Usuario -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="nav-link text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="rounded-circle"><i class="fa fa-power-off fa-2x m-r-5 m-l-5"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right user-dd animated">
            <a class="dropdown-item" href="/notes/add"><i class="fa fa-power-off m-r-5 m-l-5"></i> Crear Nota</a>
            <a class="dropdown-item" href="/users/signup"><i class="fa fa-power-off m-r-5 m-l-5"></i> Nuevo Usuario</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
      </ul>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Contenido -->
  <div class="container">
    {{> message }}
    {{{ body }}}
  </div>
  <!-- Contenido -->

  <!-- Footer -->
  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>Dev<span>DobleA</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">devdoblea &copy; 2020</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Maracaibo</span> Maracaibo, Venezuela</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+58 555 5555555</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:contact@devdoblea">contact@devdoblea.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        DevDobleA is a Web Developer and project designers who works with for PYME's &amp; Medium-Term Project Develops.
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>

      </div>

    </div>

  </footer>
  <!-- Footer -->
</body>
</html>