<div class="col-4 mx-auto">
  <div class="card">
		<div class="card-header">
	    <h5 class="card-title">Nuevo Usuario</h5>
	  </div>
		<div class="card two bg-white px-5 py-4 mb-3">
			<form action="/users/signup" method="POST">
				<div class="form-group mt-4">
					<input type="text" class="form-control" id="username" name="username" autofocus="on" value="{{name}}" required>
					<label class="form-control-placeholder" for="username">Nombre Completo</label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" value="{{emai}}" required>
					<label class="form-control-placeholder" for="email">Email</label>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="password" name="password" value="{{pass}}" required>
					<label class="form-control-placeholder" for="password">Password</label>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{cpas}}" required>
					<label class="form-control-placeholder" for="confirm_password">Confirm Password</label>
				</div>
				<button type="submit" class="btn btn-primary btn-block btn-lg mt-1 mb-2">
					<span>Registrar!<i class="fas fa-long-arrow-alt-right ml-2"></i></span>
				</button>
				{{#if error}}
				  <div class="alert alert-danger alert-dismissible fade show" role="alert">
				    <small><strong>Error:</strong> {{ error }}</small>
				  </div>
				{{/if}}
			<form>
		</div>
	</div>
</div>