<div class="row pt-4">
  {{#each users}}
    <div class="col-sm-4 mt-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-item-center" style="height: 16vh;">
            <img src="/assets/images/users/user.png" width="130" height="120">
            <p class="card-text pl-2" style="height: 10vh;">{{ username }}</p>
            <a href="/users/edit-user/{{_id}}"><i class="fas fa-edit"></i></a>
          </h4>
          <form action="/users/del-user/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-lg btn-block">Borrar Usuario</button>
          </form>
        </div>
      </div>
    </div>
  {{else}}
      <div class="col-sm-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="height: 4vh;">
              No Hay Usuarios Registrados aún.
            </h5>
            <a href="/users/signup" class="btn btn-success btn-lg btn-block">Crear Usuario</a>
          </div>
        </div>
      </div>
  {{/each}}
</div>