<div class="container-log d-flex justify-content-center my-auto">
	<div class="d-flex flex-column justify-content-between">
		<div class="card-log mt-3 p-5">
			<div class="logo mb-3"><img src="https://imgur.com/zydrQCr.png"></div>
			<div class="card-header" style="height: 17vh;">
				<p class="mb-1">Registrate primero</p>
				<small class="text-white pt-5 pb-5">Ya estas registrado?
					<a href="/signin" class="text-white"><span>&nbsp;Log in</span></a>
				</small>
			</div>
		</div>
		<div class="card-log two bg-white px-5 py-4 mb-3">
			<form action="/signup" method="POST">
				<div class="form-group">
					<input type="text" class="form-control" id="username" name="username" autofocus="on" value="{{name}}" required>
					<label class="form-control-placeholder" for="username">Nombre Completo</label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" value="{{emai}}" required>
					<label class="form-control-placeholder" for="email">Email</label>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="password" name="password" value="{{pass}}" required>
					<label class="form-control-placeholder" for="password">Password</label>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{cpas}}" required>
					<label class="form-control-placeholder" for="confirm_password">Confirm Password</label>
				</div>
				<button type="submit" class="btn btn-primary btn-block btn-lg mt-1 mb-2">
					<span>Adelante!<i class="fas fa-long-arrow-alt-right ml-2"></i></span>
				</button>
				{{#if error}}
				  <div class="alert alert-danger alert-dismissible fade show" role="alert">
				    <small><strong>Error:</strong> {{ error }}</small>
				  </div>
				{{/if}}
			<form>
		</div>
	</div>
</div>