<div class="container-log d-flex justify-content-center" style="margin-top: 12vh;">
	<div class="d-flex flex-column justify-content-between">
		<div class="card-log mt-1 p-5">
			<div class="logo mb-3"><img src="https://imgur.com/zydrQCr.png"></div>
			<div class="card-header" style="height: 23vh;">
				<p class="mb-1">Log In</p>
				<small class="mb-1 text-white">para acceder al sistema de notas!</small><br>
				<small class="text-white">No estás registrado?
					<a href="/" class="text-white"><span>&nbsp;Sign Up</span></a>
				</small>
			</div>
		</div>
		<div class="card-log two bg-white px-5 py-4 mb-3">
			<form action="/signin" method="POST">
				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" value="{{emai}}" autofocus="on" required>
					<label class="form-control-placeholder" for="email">Email</label>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="password" name="password" value="{{pass}}" required>
					<label class="form-control-placeholder" for="password">Password</label>
				</div>
				<button type="submit" class="btn btn-primary btn-block btn-lg mt-1 mb-2">
					<span>Entrar<i class="fas fa-long-arrow-alt-right ml-2"></i></span>
				</button>
				{{#if error}}
				  <div class="alert alert-danger alert-dismissible fade show" role="alert">
				    <small><strong>Error:</strong> {{ error }}</small>
				  </div>
				{{/if}}
			<form>
		</div>
	</div>
</div>